body {
  font-size: 1.2em;
}

li > a {
  text-decoration: none;
}

li > a:hover {
  text-decoration: none;
  color: red;
}

li > a:visited {
  text-decoration: none;
  color: purple;
}

.tab {
  text-decoration: none;
  color: blue;
}

.tab:hover {
  text-decoration: none;
  color: red;
}
